@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.base {
    margin-top: 5px;
    animation-fill-mode: both;
    background: rgb(65,41,96);
    background: linear-gradient(180deg, rgba(65,41,96,1) 27%, rgba(31,22,43,1) 100%);
    overflow: hidden;
    border-radius: 5px;
    border-color: darkslateblue;
    border-style: solid;
    border-width: 3px;
    max-width: 50%;
}

.sliding-in {
    animation-duration: 0.5s;
    animation-name: slide-in;
    animation-timing-function: ease-out;
}

.sliding-out {
    animation-duration: 0.5s;
    animation-name: slide-out;
    animation-timing-function: ease-out;
}

.internal {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.title {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 40px;
    color: ghostwhite;
}

.desc {
    font-size: 14px;
    color: ghostwhite;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.exit {
    color: ghostwhite;
    position: absolute;
    width: 20px;
    right: 1%;
    top: 5%;
}