@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.base {
    margin-top: 5px;
    animation-fill-mode: both;
    background: rgb(104,68,149);
    background: linear-gradient(0deg, rgba(104,68,149,1) 15%, rgba(120,33,209,1) 56%);
    overflow: hidden;
    border-radius: 5px;
    border-color: darkslateblue;
    border-style: solid;
    border-width: 2px;
}

.sliding-in {
    animation-duration: 0.5s;
    animation-name: slide-in;
    animation-timing-function: ease-out;
}

.sliding-out {
    animation-duration: 0.5s;
    animation-name: slide-out;
    animation-timing-function: ease-out;
}

.internal {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.title {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 40px;
    color: ghostwhite;
}

.desc {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    color: ghostwhite;
}

.exit {
    color: ghostwhite;
    position: absolute;
    width: 20px;
    right: 1%;
    top: 15%;
}