@page "/authtest"

@using MyBlazor.Authentication
@using MyBlazor.Notifications
@using System.Text.Json
@using System.Text
@using Blazored.LocalStorage
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject HttpClient HttpClient
@inject IAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Auth Test</PageTitle>

<p><button @onclick="SecureMethod">Server auth test</button></p>

<AuthorizeView>
	<Authorized>
		<p>Hello, @context.User.Claims.Where(claim => claim.Type == ClaimTypes.Email).Select(claim => claim.Value).FirstOrDefault()!</p>
		<!-- <p><button @onclick="SecureMethod">Authorized Only Button</button></p> -->
	</Authorized>
	<NotAuthorized>
		<p>You're not authorized.</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState>? authenticationState { get; set; }

	private async void SecureMethod()
	{
		Console.WriteLine($"SecureMethod!");
		if (authenticationState is not null)
		{
			Console.WriteLine($"SecureMethod authstate!");
			var authState = await authenticationState;
			var user = authState?.User;

			if (user?.Identity is not null && user.Identity.IsAuthenticated)
			{
				Console.WriteLine($"'{user.Identity.Name}' is authenticated.");
			}
		}
		Console.WriteLine($"SecureMethod done!");

		// var content = new StringContent("", Encoding.UTF8, "application/json");
		// var response = await HttpClient.PostAsync($"account/auth_test", content)
		// 	.ConfigureAwait(false);

		// if (response.IsSuccessStatusCode)
		// {
		// 	Console.WriteLine("VN: AUTH !!");
		// }
		// else
		// {
		// 	Console.WriteLine("VN: FAILED AUTH !!");
		// }
	}
}
