@page "/settings"

@using Microsoft.AspNetCore.Components.Authorization
@using MyBlazor.Components

<PageTitle>Settings</PageTitle>

<FallbackAuthorizeView>
	<h1>Settings</h1>
	<div>Here are some things you can tweak:</div>
</FallbackAuthorizeView>